﻿<!doctype html>


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">

<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="description" content="">

<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="shortcut icon" href="assets/img/logo/favicon.jpeg">



<title>CINI MITRA &#8211; Sree Kanteerava Studios Limited</title>


<link rel='stylesheet' href='assets/css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/animate.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/custom-animation.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/bootstrap-datepicker.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/nice-select.css' type='text/css' media='all' />

<link rel='stylesheet' href='assets/css/magnific-popup.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/aos.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/meanmenu.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/owl.carousel.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/slick.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/responsive.css' type='text/css' media='all' />
<link rel='stylesheet' href='style.css' type='text/css' media='all' />
<link rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.5.3'
      type='text/css' media='all' />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
<script type='text/javascript' src='assets/js/jquery.js'></script>

<link rel='stylesheet' href='assets/css/fontawesome.min.css' type='text/css' media='all' />

<style type="text/css">
    body {
        color: #333;
    }

    .counter--block {
        border-radius: 5px;
        box-shadow: 5px 5px 5px #a5a5a5;
        border: 1px solid #000;
        background-color: #0000000d;
    }

    .application .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>


    <header class="header header--padding header--transparrent">

        <div class="container-fluid">

            <div class="row pt-3 feature--bg">
                <div class="col-12">
                    <div style="float:right;">
                        <h4 class="theme-color">
                            <a href="#">LOGIN</a> &nbsp;&nbsp;<span style="color: #000;">/</span>&nbsp;&nbsp; <a href="registration.html">REGISTER</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">

                <div class="col-xl-4 col-lg-5 col-md-6 col-12">

                    <div class="header--left d-flex align-items-center">

                        <div class="header--logo">

                            <a href="#" class="logos">
                                <img src="assets/img/karnataka-logo.jpg" alt="logo">
                                <img src="assets/img/logo/cini-mitra.jpeg" alt="logo">
                                <div class="logo-text">
                                    <h1 class="company-name">Cini mitra</h1>
                                    <h5>Sree Kanteerava Studios Limited</h5>
                                    <h5>Government Of Karnataka</h5>
                                </div>

                            </a>

                        </div>

                    </div>

                </div>

                <div class="col-xl-8 col-lg-7 col-md-6 d-flex justify-content-end align-items-center col-7">

                    <div class="navbar--main">

                        <nav id="mobile-menu">

                            <ul class="menu-inline ">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a title="Home" href="index.html">Home</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a title="About cini mitra" href="#">About cini mitra</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a title="Departments" href="#">Departments</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a title="How to apply" href="how-to-apply.html">How to apply</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a title="Grievance" href="#">Grievance</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a title="Dashboard" href="dashboard.html">Dashboard</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a title="FAQ" href="#">FAQ</a>
                                </li>

                            </ul>


                        </nav>

                    </div>

                </div>

                <div class="col-12">

                    <div class="mobile-menu mobile-menu-h4"></div>

                </div>

            </div>

        </div>



        <!-- Sidebar Menu Overlay -->

        <div class="offcanvas-overly"></div>

    </header>

    <!-- Header End -->
    <!-- Main Wrapper -->

    <main class="main-wrapper">

        <div data-elementor-type="wp-page" data-elementor-id="62" class="elementor elementor-62"
             data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">


                    <section class="elementor-section elementor-top-section elementor-element elementor-element-1dc790b elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                             data-id="1dc790b" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-838cb25"
                                     data-id="838cb25" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-3e6dfb4 elementor-align-left elementor-widget elementor-widget-bdevs-banner "
                                                 data-id="3e6dfb4" data-element_type="widget"
                                                 data-widget_type="bdevs-banner .default">
                                                <div class="elementor-widget-container">

                                                    <div class="page--area page--height pos-relative fix d-flex align-items-center"
                                                         data-background="./assets/img/banner2.jpg"
                                                         data-overlay="pure-black" data-opacity="8"
                                                         style="background-image: url(&quot;assets/img/banner2.jpg&quot;); height:400px;max-height:400px;min-height:400px;padding-top: 160px;">


                                                        <div class="container">
                                                            <div class="row align-items-center">
                                                                <div class="col-sm-12 text-center">
                                                                    <div class="page--title">
                                                                        <h2 class="white-color fw-700 wow fadeInDown  animated"
                                                                            data-wow-duration="1s" data-wow-delay=".5s"
                                                                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInDown;">
                                                                            Dashboard
                                                                        </h2>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="mb-100 mt-50">

                        <div class="elementor-container elementor-column-gap-no">
                            <div class="row">
                                <div class="col-sm-12 text-center mb-60">
                                    <div class="section-title">
                                        <span class="theme-color fw-700 text-uppercase">
                                            SAKALA TIMELINE IS 15
                                            DAYS
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-46e4965"
                                     data-id="46e4965" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-cefd5f9 elementor-align-left elementor-widget elementor-widget-bdevs-counter"
                                                 data-id="cefd5f9" data-element_type="widget"
                                                 data-widget_type="bdevs-counter.default">
                                                <div class="elementor-widget-container">

                                                    <section class="counter--area pt-110 pb-90">

                                                        <div class="container">
                                                            <div class="row mb-5">
                                                                <div class="col-12">
                                                                    <form>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-md-4">
                                                                                <label for="inputEmail4">From</label>
                                                                                <input type="date" class="form-control"
                                                                                       placeholder="01-01-1999">
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label for="inputPassword4">To</label>
                                                                                <input type="date" class="form-control"
                                                                                       placeholder="01-01-1999">
                                                                            </div>
                                                                            <div class="form-group col-md-2">
                                                                                <button type="button"
                                                                                        class="btn btn-info btn-sm">
                                                                                    Search
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-between">
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center mb-30">

                                                                    <div class="counter--block counter--block--h2 p-5 mb-5">
                                                                        <span class="theme-color mb-20">
                                                                            <i class="fas fa-clipboard"></i>
                                                                        </span>
                                                                        <h2 class="fw-700 counter">158</h2>
                                                                        <h4>Application Received</h4>
                                                                    </div>

                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center mb-30">

                                                                    <div class="counter--block counter--block--h2 p-5 mb-5">
                                                                        <span class="theme-color mb-20">
                                                                            <i class="fas fa-clipboard-check"></i>
                                                                        </span>
                                                                        <h2 class="fw-700 counter">140</h2>
                                                                        <h4>Application Approved</h4>
                                                                    </div>

                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center mb-30">

                                                                    <div class="counter--block counter--block--h2 p-5 mb-5">
                                                                        <span class="theme-color mb-20">
                                                                            <i class="fas fa-calendar-times"></i>
                                                                        </span>
                                                                        <h2 class="fw-700 counter">5</h2>
                                                                        <h4>Application Rejected</h4>
                                                                    </div>

                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center mb-30">

                                                                    <div class="counter--block counter--block--h2 p-5 mb-5">
                                                                        <span class="theme-color mb-20">
                                                                            <i class="fas fa-hourglass-start"></i>
                                                                        </span>
                                                                        <h2 class="fw-700">12 Days</h2>
                                                                        <h4>Minimum Approval Time</h4>
                                                                    </div>

                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center mb-30">

                                                                    <div class="counter--block counter--block--h2 p-5 mb-5">
                                                                        <span class="theme-color mb-20">
                                                                            <i class="fas fa-hourglass-end"></i>
                                                                        </span>
                                                                        <h2 class="fw-700">15 Days</h2>
                                                                        <h4>Maximum Approval Time</h4>
                                                                    </div>

                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center mb-30">

                                                                    <div class="counter--block counter--block--h2 p-5 mb-5">
                                                                        <span class="theme-color mb-20">
                                                                            <i class="fas fa-clipboard-list"></i>
                                                                        </span>
                                                                        <h2 class="fw-700 counter">45</h2>
                                                                        <h4>Application Processing</h4>
                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </section>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>

                    <section class="application">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-center mb-60">
                                    <div class="section-title">
                                        <h2>Third Party Verification</h2>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4">Date</label>
                                                <input type="date" class="form-control"
                                                       placeholder="01-01-1999">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputPassword4">CAF No</label>
                                                <input type="text" class="form-control" placeholder="000123" />
                                            </div>
                                            <div class="form-group col-md-2">
                                                <button type="button"
                                                        class="btn btn-info btn-sm mt-4">
                                                    View
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <table class="table border">
                                    <thead class="thead-dark text-uppercase">
                                        <tr>
                                            <th scope="col">CAF NO</th>
                                            <th scope="col">Application Details</th>
                                            <th scope="col">Applied Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Payment Status</th>
                                            <th scope="col">Approval Status</th>
                                            <!-- <th scope="col">Third Party Verification</th> -->
                                            <th scope="col" width="13%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>
                                                <p>
                                                    Applicant Name : Tanuj Raj <br />
                                                    Location Name : SGNP Main & subsidiary places
                                                </p>
                                            </td>
                                            <td>12/01/2021</td>
                                            <td>Completed</td>
                                            <td>Paid</td>
                                            <td>Approved</td>
                                            <!-- <td>Verified &nbsp;&nbsp;&nbsp;<i class="fas fa-user-check text-success"></i></td> -->
                                            <td>
                                                <button class="btn btn-sm btn-info" title="view" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" title="view">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>
                                                <p>
                                                    Applicant Name : Tanuj Raj <br />
                                                    Location Name : Dharavi
                                                </p>
                                            </td>
                                            <td>12/01/2021</td>
                                            <td>Completed</td>
                                            <td>Paid</td>
                                            <td>Verifying</td>
                                            <!-- <td>Pending &nbsp;&nbsp;&nbsp;<i class="fas fa-tasks text-warning"></i></td> -->
                                            <td>
                                                <button class="btn btn-sm btn-info" title="view" disabled>
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" title="view" disabled>
                                                    <i class="fas fa-download"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </section>

                </div>
            </div>
        </div>

    </main>
    <!-- Main Wrapper End -->
    <!-- Footer  -->
    <footer class="footer footer--bg pt-80" data-background="././assets/img/bg/footer-bg.jpg" data-overlay="black-oil"
            data-opacity="85">
        <div class="footer--top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-30">
                        <div class="textwidget custom-html-widget">
                            <div class="footer--widget">
                                <div class="footer--title">
                                    <h4 class="white-color mb-30">CINI MITRA</h4>
                                </div>
                                <div class="footer--address">
                                    <ul>
                                        <li><i class="fas fa-map-marked-alt"></i>Khanija bhavan, Bangalore</li>
                                        <!-- <li><i class="fas fa-envelope-open"></i>support@gmail.com</li>
                                        <li><i class="fas fa-phone"></i>+013 (456) 7899</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-30">
                        <div class="textwidget custom-html-widget">
                            <div class="footer--widget">
                                <div class="footer--title">
                                    <h4 class="white-color mb-30">Quick Links</h4>
                                </div>
                                <div class="footer--menu">
                                    <ul>
                                        <li><a href="#">Company History</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a href="#">Latest News</a></li>
                                        <li><a href="#">Meet The Directors</a></li>
                                        <li><a href="#">Latest Movies</a></li>
                                        <li><a href="#">Album & Gallery</a></li>
                                        <li><a href="#">Global Brands</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="textwidget custom-html-widget">
                            <div class="footer--widget">
                                <div class="footer--title">
                                    <h4 class="white-color mb-30">Follow Instagram</h4>
                                </div>
                                <div class="footer--insta">
                                    <ul>
                                        <li>
                                            <img src="assets/img/12/insta-1.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-2.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-3.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-4.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-5.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-6.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-30">
                        <div class="textwidget">
                            <div class="footer--title">
                                <h4 class="white-color mb-30">Newsletters</h4>
                            </div>
                            <div role="form" class="wpcf7" id="wpcf7-f166-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response">
                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                    <ul></ul>
                                </div>
                                <form action="" method="post" class="wpcf7-form init" novalidate="novalidate"
                                      data-status="init">

                                    <div class="footer--newsletter">
                                        <p>Sed ut perspiciatis unde omnis natus error sit volupta</p>
                                        <div class="footer--input mb-30">
                                            <span class="wpcf7-form-control-wrap email">
                                                <input type="email" name="email"
                                                       value="" size="40"
                                                       class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                       aria-required="true" aria-invalid="false"
                                                       placeholder="Enter Your Email" />
                                            </span><input type="submit"
                                                          value="+" class="wpcf7-form-control wpcf7-submit" />
                                        </div>
                                        <div class="footer--social">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.twitter.com/">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.google.com/"><i class="fab fa-google"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="footer--bottom footer--bottom--border">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="footer--copyright">
                                <p> Copy 2020. All Right Reserved.</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 d-none d-md-block">
                            <div class="footer--menu--two">
                                <div class="textwidget custom-html-widget">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About cini mitra</a></li>
                                        <li><a href="#">Departments</a></li>
                                        <li><a href="#">How to apply</a></li>
                                        <li><a href="#">Grievance</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer  End -->
    <!-- Fullscreen search -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" name="s" placeholder="Search Your Keyword...">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end fullscreen search -->
    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
        <i class="fas fa-arrow-up"></i>
    </button>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Application</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <embed src="assets/pdf/Movie-Shooting-Certificate.pdf" frameborder="0" width="100%" height="400px">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='assets/js/popper.min.js'></script>
    <script type='text/javascript' src='assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='assets/js/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='assets/js/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.meanmenu.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.counterup.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.waypoints.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript' src='assets/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='assets/js/tilt.jquery.js'></script>
    <script type='text/javascript' src='assets/js/bootstrap-datepicker.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.nice-select.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.paroller.min.js'></script>
    <script type='text/javascript' src='assets/js/aos.js'></script>
    <script type='text/javascript' src='assets/js/slick.min.js'></script>
    <script type='text/javascript' src='assets/js/wow.min.js'></script>
    <script type='text/javascript' src='assets/js/plugins.js'></script>
    <script type='text/javascript' src='assets/js/main.js'></script>

    <script type='text/javascript' src='assets/js/position.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>





