/*
Theme Name: Miker
Theme URI: http://shtheme.org/demosd/miker
Author: Shtheme
Author URI: http://shtheme.com
Description: In 2020, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: miker

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
img.avatar{
    border-radius: 50%;
}
p.comment-form-cookies-consent{
    display: none;
}
.conatct-post-form p.form-submit input.submit{
    cursor: pointer;
    background: #ef6330;
    width: auto;
    border:2px solid transparent;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 0.1em;
    line-height: 1;
    padding: 23.4px 40px;
    height: auto;
    margin-bottom: 0;
    font-family: 'Bebas Neue';
}
.conatct-post-form p.form-submit input.submit:hover{
    background: transparent;
    border: 2px solid #ef6330;
    color: #ef6330;
    outline: 0;
}
a.comment-reply-link{
    color: #6f7172;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #ef6330;
    padding: 10px 15px;
    border-radius: 7px;
}
a.comment-reply-link:hover{
    background-color: #ef6330;
    color: #fff;
}
h3.comment-reply-title{
    font-size: 26px;
    font-weight: 700;
    color: #140a20;
    margin-bottom: 40px;
}
ul.wp-tag-cloud{
    margin-right: -5px;
    margin-left: -5px;
    margin-top: -5px;
}
ul.wp-tag-cloud li{
    font-weight: 600;
    text-transform: uppercase;
    background: #f5f5f5;
    display: inline-block;
    padding: 7px 18px;
    margin: 5px;
}
ul.wp-tag-cloud li a{
    font-size: 12px!important;
    transition: 0s;
}
ul.wp-tag-cloud li:hover{
    background: #ef6330;
    color: #ffffff;
}
ul.pagination span.current{
    background: transparent;
    color: #ef6330;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50%;
    margin: 0px;
    display: inline-block;
    text-align: center;
    font-family: 'Bebas Neue';
    border: 2px solid #ef6330;
    height: 65px;
    width: 65px;
    line-height: 65px;
}
ul.menu-inline{
    display: inline-block;
}
nav#mobile-menu li.search{
    display: inline-block;
    margin-left: 23px;
}
nav#mobile-menu li.search a{
    color: #ffffff;
    font-weight: 700;
    padding: 50px 0;
    display: block;
    font-size: 17px;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1em;
}
.newsletter--input input.wpcf7-submit{
    position: absolute;
    height: 65px;
    background: #fff;
    color: #ef6330;
    line-height: 65px;
    font-size: 15px;
    font-weight: 600;
    top: 0;
    right: 0;
    border: 2px solid transparent;
    width: auto;
}
.newsletter--input input.wpcf7-submit::after{
    background:#ef6330;
}
.newsletter--input input.wpcf7-submit:hover{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.35);
    color: #ffffff;
}
div.wpcf7-response-output{
    margin: 10px 0 0 0 ;
}
.contact-form input.wpcf7-submit{
    background: #ef6330;
    border: 2px solid transparent;
    width: auto;
    color: #fff;
    padding: 23.4px 40px;
    letter-spacing: 0.1em;
    line-height: 1;
    height: auto;
    margin-bottom: 0;
}
.contact-form input.wpcf7-submit:hover{
    background: transparent;
    border: 2px solid #ef6330;
    color: #ef6330;
    outline: 0;
}
h4.feature--title:hover{
    color: #ef6330;
}
.search-custom form button {
    border: 1px solid #ef6330;
    color: #fff;
    font-size: 20px;
    height: 50px;
    position: relative;
    width: 50px;
    cursor: pointer;
    float: right;
    background: #ef6330;
    margin-top: -50px;
    padding: 0;
    letter-spacing: 0;
}
.search-custom form button:hover{
    background: #fff;
    border: 1px solid #ef6330;
    color: #ef6330;
}
.search-custom form input{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}
.blog--sidebar--form button{
    cursor: pointer;
}
.footer--input input.wpcf7-submit{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    position: absolute;
    height: 55px;
    width: 55px;
    font-size: 20px;
    background: #ef6330;
    border: 1px solid transparent;
    cursor: pointer;
    color: #ffffff;
    padding: 0;
    right: 0;
}
form br{
    display: none;
}
.blog--sidebar--news .border-bottom:last-child{
    border-bottom: none!important;
    padding-bottom: 0;
    margin-bottom: 0;
}
.post-text blockquote::before{
    color: #fff;
}
blockquote footer{
    color: #fff;
}
.mean-container .mean-nav ul li li a{
    opacity: 1;
}

@media (max-width: 991px){
    li.search{
        display: none;
    }
}
.blog--author img.avatar {
    min-width: 70px;
    margin-right: 22px;
}
.slick-initialized .slick-slide:focus{
    outline: none;
}
.footer--logo p{
	margin-top:25px;
}
.feature--text--h3 a.read--more{
	color:#fff;
}
.feature--text--h3 .read--more::before{
	background:#fff;
}
i.theme-color{
	color:#333;
}
.post-meta span i{
	color:#333;
}
.post-meta span{
	font-weight:600;
}
.avatar-name span{
	color:#333;
	font-weight:600;
}
.map{
	margin-bottom:-5px;
}
.video--content--two,
.video--content--h3 a,
.video--tag span{
	z-index:999;
}
.black-bg .movie--details--meta ul li{
	color:#fff;
}
.movie--details--ratings ul li span{
	color:#fff;
}
div.wpcf7 .ajax-loader {
    display: none;
}
ul.menu-inline+ul {
    float: right;
    margin-top: 2px;
}
.movie--details--info h2{
	font-family: 'Bebas Neue';
}
.basic-pagination{
	margin-bottom:0;
}
@media (max-width: 767px){
	.contacts--address ul{
		text-align:left;
		
	}
	.contacts--address ul li{
		margin-left:30px;
	}
	.basic-pagination{
		margin-bottom:50px;
	}
	.team--info h5{
		font-size:22px;
	}
	.faq-wrapper .card-header h5 a::after{
		line-height:92px;
	}
    .mean-container a.meanmenu-reveal{
        margin-top: -44px;
    }
    .mean-container .mean-nav{
        margin-top: 35px;
    }
}
@media (min-width: 768px){
.page--title h1.fs-80{
	font-size:80px;
}
}
.blog--standard--meta li a ,
.blog--standard--meta ul li{
    color: #333333;
}
a.pd-20{
	padding:20px 40px;
}
@media only screen and (max-width: 1600px) and (min-width: 1200px){
.header--user a {
    color: #7a7a7a;
	transition:0s;
}}
.header--user:hover a{
	color:#fff;
}
.header--logo img{
	max-width:25%;
}
.footer--logo img{
	max-width:100px;
}
.mean-container .mean-nav{
    margin-top: 25px;
    max-height: 350px;
    overflow-y: auto;
}
.mean-container .mean-nav{
	background:#111;
}
.mean-container .mean-nav> ul> li:last-child{
	margin-bottom:-5px;
}
.mean-container .mean-nav ul li a{
	padding:14px 5%;
}
.mean-container .mean-nav ul li a.mean-expand{
	padding:9px 12px;
}
.mean-container .mean-nav ul li li a{
	padding:14px 10%;
}
.movie--details--gallery ul{
	max-width:320px;
}
.movie--details--gallery ul li{
	margin:15px 10px 10px 15px;
}
.slick-slide.slider--height {
    min-height: 950px;
}
.blog--author img.avatar {
    min-width: 70px;
    margin-right: 22px;
    border-radius: 50px;
}
.slick-slide.slider--height--h3 {
    min-height: 800px;
}
.project--block .project--thumb.position-relative img {
    width: 100%;
}