﻿@model CiniMitra.Mvc.Models.ErrorModel

@{
    ViewBag.Title = "Error";
}
<!doctype html>
<html>
<head></head>
<body>
    <main>
        <div>
            <div class="container mt-5">
                <h1><span class="display-4">@Html.DisplayFor(model => model.HttpStatusCode)</span>, @Html.DisplayFor(model => model.ErrorMessage)</h1>
                <p>Can't find the page you're looking for. Please make sure you've entered the correct address, or return to <a href="@Url.Action("Index","Home","",Request.Url.Scheme,null)">Home</a>.</p>
            </div>
        </div>
    </main>
</body>
</html>
