﻿@model CiniMitra.Mvc.Models.ProjectProfileModel

@{
    ViewBag.Title = "Project Profile";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/img/logo/favicon.jpeg">
    <title>@ViewBag.Title &ndash; CINI MITRA  &#8211; Sree Kanteerava Studios Limited</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*
        <link rel='stylesheet' href='/assets/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='/assets/css/animate.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/custom-animation.css'
              type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/bootstrap-datepicker.css'
              type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/nice-select.css' type='text/css'
              media='all' />
        <link rel='stylesheet' href='assets/css/magnific-popup.css' type='text/css'
              media='all' />
        <link rel='stylesheet' href='assets/css/aos.css' type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/meanmenu.css' type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/owl.carousel.min.css' type='text/css'
              media='all' />
        <link rel='stylesheet' href='assets/css/slick.css' type='text/css' media='all' />
    *@
    <link rel='stylesheet' href='@Url.Content("~/assets/css/style.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/assets/css/responsive.css")' type='text/css'
          media='all' />
    <link rel='stylesheet' href='@Url.Content("~/style.css")' type='text/css' media='all' />
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.5.3'
          type='text/css' media='all' />
    <script type='text/javascript' src='@Url.Content("~/assets/js/jquery.js")'></script>
    <link rel='stylesheet' href='@Url.Content("~/assets/css/fontawesome.min.css")' type='text/css'
          media='all' />
    <style type="text/css">
        body {
            color: #333;
        }

        .form-control {
            max-width: 100% !important;
            height: 100% !important;
            border-color: #bbb;
            padding: 1rem;
        }
        textarea.form-control {
            max-height: 150px !important;
            height: 150px !important;
            resize: vertical;
        }
        .form-control:focus {
            outline: none;
            border-color: #aaa;
            outline: 0;
            box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
        }

        .form-check label.form-check-label {
            padding-left: 2rem !important;
        }
        ::-webkit-input-placeholder {
            color: #ddd !important;
        }
    </style>
</head>
<body class="nojs">
    <header class="header header--padding header--transparrent">
        <!-- Sidebar Menu Overlay -->
        <div class="offcanvas-overly"></div>
    </header>
    <!-- Header End -->
    <!-- Main Wrapper -->
    <main class="main-wrapper">
        <div data-elementor-type="wp-page" data-elementor-id="62" class="elementor elementor-62"
             data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="projProfsec">
                        @using (Html.BeginForm("Index", "ProjectProfile", FormMethod.Post, new { @class = "form", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="container-fluid">
                                <h4>Project Profile</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <section class="row">
                                    <div class="col-md-6 mt-1 mb-1">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FilmName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.FilmName, new { @class = "form-control form-control-lg w-100", placeholder = "Film Name" })
                                            @Html.ValidationMessageFor(model => model.FilmName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProducerName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.ProducerName, new { @class = "form-control form-control-lg", placeholder = "Producer Name" })
                                            @Html.ValidationMessageFor(model => model.ProducerName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProducerMobile, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.ProducerMobile, new { @class = "form-control form-control-lg", placeholder = "Producer Mobile Number" })
                                            @Html.ValidationMessageFor(model => model.ProducerMobile, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProducerEmail, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.ProducerEmail, new { @class = "form-control form-control-lg", placeholder = "Producer E-mail address" })
                                            @Html.ValidationMessageFor(model => model.ProducerEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LeadingArtists, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.LeadingArtists, new { @class = "form-control form-control-lg", style = "max-height: 150px", placeholder = "Leading Artists" })
                                            @Html.ValidationMessageFor(model => model.LeadingArtists, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MovieOrigin, htmlAttributes: new { @class = "control-label" })
                                            <section class="row">
                                                <div class="col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="MovieOrigin" id="movieOrigin1" value="Karnataka" />
                                                        <label class="form-check-label" for="movieOrigin1">Karnataka</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="MovieOrigin" id="foreign" value="Foreign" />
                                                        <label class="form-check-label" for="foreign">
                                                            Foreign
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="MovieOrigin" id="other" value="Other" />
                                                        <label class="form-check-label" for="other">
                                                            Other
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.MovieOrigin, new { @class = "form-control form-control-lg", @id = "morigin" })
                                                </div>
                                            </section>
                                            @Html.ValidationMessageFor(model => model.MovieOrigin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FilmLang, htmlAttributes: new { @class = "control-label" })
                                            <section class="row">
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="FilmLang" id="kannada" value="Kannada" />
                                                        <label class="form-check-label" for="kannada">
                                                            Kannada
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="FilmLang" id="other" value="Other" />
                                                        <label class="form-check-label" for="other">
                                                            Other
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.FilmLang, new { @class = "form-control form-control-lg", @name = "FilmLang", @id = "fLang" })
                                                    @Html.HiddenFor(model => model.FilmLang)
                                                </div>
                                            </section>
                                            @Html.ValidationMessageFor(model => model.FilmLang, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FilmDirName, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.FilmDirName, new { @class = "form-control form-control-lg", placeholder = "Director Name" })
                                            @Html.ValidationMessageFor(model => model.FilmDirName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FilmCategory, htmlAttributes: new { @class = "control-label" })
                                            <section class="row">
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="FilmCategory" id="newFilm" value="New Film" />
                                                        <label class="form-check-label" for="newFilm">
                                                            New Film
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="FilmCategory" id="remakeFilm" value="Remake Film" />
                                                        <label class="form-check-label" for="remakeFilm">
                                                            Remake Film
                                                        </label>
                                                    </div>
                                                </div>
                                            </section>
                                            @Html.ValidationMessageFor(model => model.FilmCategory, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="filmCategoryFields">
                                        <section class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OriginalFilmName, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.OriginalFilmName, new { @class = "form-control form-control-lg", placeholder = "Original  Film Name" })
                                                    @Html.ValidationMessageFor(model => model.OriginalFilmName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OriginalFilmLang, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.OriginalFilmLang, new { @class = "form-control form-control-lg", placeholder = "Original Film Language" })
                                                    @Html.ValidationMessageFor(model => model.OriginalFilmLang, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FilmTypeId, htmlAttributes: new { @class = "control-label" })
                                            @if (Model.FilmTypeList != null)
                                            {
                                                foreach (var filmType in Model.FilmTypeList)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="FilmTypeId" id="@("FilmTypeId"+filmType.ID)" value="@filmType.ID" />
                                                        <label class="form-check-label" for="@("FilmTypeId"+filmType.ID)">
                                                            @filmType.FilmType
                                                        </label>
                                                    </div>
                                                }
                                            }
                                            @Html.ValidationMessageFor(model => model.FilmTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProdHAddr, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.ProdHAddr, new { @class = "form-control form-control-lg", placeholder = "Name & Address of the Production House" })
                                            @Html.ValidationMessageFor(model => model.ProdHAddr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FilmScript, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.FilmScript, new { @class = "form-control form-control-lg", @type = "file", accept = "application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, image/*" })
                                            @Html.ValidationMessageFor(model => model.FilmScript, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-30 mb-5">
                                        <button type="submit" class="btn btn-success btn-lg mr-1">Save</button>
                                        <button type="reset" class="btn btn-info btn-lg ml-1 mr-1">Reset</button>
                                        <button type="button" id="btnCancel" data-path="@Url.Action("Index","ProjectProfile","",Request.Url.Scheme)" class="btn btn-danger btn-lg ml-1 mr-1">Cancel</button>
                                    </div>
                                </section>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Wrapper End -->
    <!-- Footer  -->
    <!-- Footer  End -->
    <!-- Fullscreen search -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" name="s" placeholder="Search Your Keyword...">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end fullscreen search -->
    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
        <i class="fas fa-arrow-up"></i>
    </button>
    @*
        <script type='text/javascript' src='/assets/js/popper.min.js'></script>
        <script type='text/javascript' src='/assets/js/bootstrap.min.js'></script>
        <script type='text/javascript' src='assets/js/imagesloaded.pkgd.min.js'></script>
        <script type='text/javascript' src='assets/js/isotope.pkgd.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.meanmenu.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.counterup.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.waypoints.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.magnific-popup.min.js'></script>
        <script type='text/javascript' src='assets/js/owl.carousel.min.js'></script>
        <script type='text/javascript' src='assets/js/tilt.jquery.js'></script>
        <script type='text/javascript' src='assets/js/bootstrap-datepicker.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.nice-select.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.paroller.min.js'></script>
        <script type='text/javascript' src='assets/js/aos.js'></script>
        <script type='text/javascript' src='assets/js/slick.min.js'></script>
        <script type='text/javascript' src='assets/js/wow.min.js'></script>
        <script type='text/javascript' src='assets/js/plugins.js'></script>
        <script type='text/javascript' src='@Url.Content("~/assets/js/main.js")'></script>
        <script type='text/javascript' src='assets/js/position.min.js'></script>*@
    @section Scripts {
        @*@Scripts.Render("~/bundles/jqueryval")*@
        <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js'></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.projProfsec input#morigin,.projProfsec input#fLang,.projProfsec div#filmCategoryFields').hide();
                $('input:radio[name="FilmCategory"]').change(function () {
                    if ($(this).val().toLowerCase() == 'remake film') {
                        $('.projProfsec div#filmCategoryFields').show();
                    }
                    else {
                        $('.projProfsec div#filmCategoryFields').hide();
                    }
                });
                $('input:radio[name="MovieOrigin"]').change(function () {
                    if ($(this).val().toLowerCase() == 'other') {
                        $(this).attr('name', 'MovieOriginOther');
                        $('.projProfsec input#morigin').show();
                    }
                    else {
                        $('.projProfsec input#morigin').hide();
                    }
                });
                $('input:radio[name="FilmLang"]').change(function () {
                    if ($(this).val().toLowerCase() == 'other') {
                        $(this).attr('name', 'FilmLang2');
                        $('.projProfsec input#fLang').show();
                    }
                    else {
                        $('.projProfsec input#fLang').hide();
                    }
                });
                $('button#btnCancel').click(function () {
                    var path = ($(this).data('path')).split('?')[0];
                    location.href = path;
                });
            });
        </script>
        @if (ViewBag.AddStatus != null)
        {
            if (Convert.ToBoolean(ViewBag.AddStatus) == false)
            {
                <script>alert("Sorry! Unable to save the Project Profile, please check the entered data and try later.");</script>
            }
            else
            {
                <script>alert("Success! The Project Profile has been successfully saved.");</script>
            }
        }
    }
</body>
</html>