﻿@model CiniMitra.Mvc.Models.ProjectProfileModel
@{
    ViewBag.Title = "Project Profile";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="assets/img/logo/favicon.jpeg">
<title>CINI MITRA &#8211; Sree Kanteerava Studios Limited</title>
<link rel='stylesheet' href='assets/css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/animate.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/custom-animation.css'
      type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/bootstrap-datepicker.css'
      type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/nice-select.css' type='text/css'
      media='all' />
<link rel='stylesheet' href='assets/css/magnific-popup.css' type='text/css'
      media='all' />
<link rel='stylesheet' href='assets/css/aos.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/meanmenu.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/owl.carousel.min.css' type='text/css'
      media='all' />
<link rel='stylesheet' href='assets/css/slick.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/responsive.css' type='text/css'
      media='all' />
<link rel='stylesheet' href='style.css' type='text/css' media='all' />
<link rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.5.3'
      type='text/css' media='all' />
<script type='text/javascript' src='assets/js/jquery.js'></script>
<link rel='stylesheet' href='assets/css/fontawesome.min.css' type='text/css'
      media='all' />
<style type="text/css">
    body {
        color: #333;
    }
</style>
<header class="header header--padding header--transparrent">
    <!-- Sidebar Menu Overlay -->
    <div class="offcanvas-overly"></div>
</header>
<!-- Header End -->
<!-- Main Wrapper -->
<main class="main-wrapper">
    <div data-elementor-type="wp-page" data-elementor-id="62" class="elementor elementor-62"
         data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section class="projProfsec">
                    @using (Html.BeginForm("Index", "ProjectProfile", FormMethod.Post, new { @class = "form", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <h4>Project Profile</h4>
                            <p class="d-block text-sm py-2"><sup class="text-danger">*</sup> - are mandatory field(s) to fill in.</p>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.FilmName, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                @Html.TextBoxFor(model => model.FilmName, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Film Name" } })
                                @Html.ValidationMessageFor(model => model.FilmName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProducerName, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                @Html.TextBoxFor(model => model.ProducerName, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Producer Name" } })
                                @Html.ValidationMessageFor(model => model.ProducerName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProducerMobile, htmlAttributes: new { @class = "control-label" }) <small class="text-info">(optional)</small>:
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.ProducerMobile, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Producer Mobile Number" } })
                                    @Html.ValidationMessageFor(model => model.ProducerMobile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProducerEmail, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                @Html.TextBoxFor(model => model.ProducerEmail, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Producer E-mail address" } })
                                @Html.ValidationMessageFor(model => model.ProducerEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LeadingArtists, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                @Html.TextAreaFor(model => model.LeadingArtists, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Leading Artists" } })
                                @Html.ValidationMessageFor(model => model.LeadingArtists, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MovieOrigin, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="movieOrigins" id="movieOrigin1" value="Karnataka" />
                                    <label class="form-check-label" for="movieOrigin1">
                                        Karnataka
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="movieOrigins" id="foreign" value="Foreign" />
                                    <label class="form-check-label" for="foreign">
                                        Foreign
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="movieOrigins" id="other" value="Other" />
                                    <label class="form-check-label" for="other">
                                        Other
                                    </label>
                                </div>
                                @Html.TextBoxFor(model => model.MovieOrigin, new { htmlAttributes = new { @class = "form-control form-conrol-sm" } })
                                @Html.HiddenFor(model => model.MovieOrigin)
                                @Html.ValidationMessageFor(model => model.MovieOrigin, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FilmLang, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="movieLangs" id="kannada" value="Kannada" />
                                    <label class="form-check-label" for="kannada">
                                        Kannada
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="movieLangs" id="other" value="Other" />
                                    <label class="form-check-label" for="other">
                                        Other
                                    </label>
                                </div>
                                @Html.TextBoxFor(model => model.FilmLang, new { htmlAttributes = new { @class = "form-control form-conrol-sm" } })
                                @Html.HiddenFor(model => model.MovieOrigin)
                                @Html.ValidationMessageFor(model => model.FilmLang, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FilmDirName, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                @Html.TextBoxFor(model => model.FilmDirName, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Director Name" } })
                                @Html.ValidationMessageFor(model => model.FilmDirName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FilmCategory, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="movieCatgys" id="newFilm" value="New Film" />
                                    <label class="form-check-label" for="newFilm">
                                        New Film
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="movieCatgys" id="remakeFilm" value="Remake Film" />
                                    <label class="form-check-label" for="remakeFilm">
                                        Remake Film
                                    </label>
                                </div>
                                @Html.HiddenFor(model => model.FilmCategory)
                                @Html.ValidationMessageFor(model => model.FilmCategory, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OriginalFilmName, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                                @Html.TextBoxFor(model => model.OriginalFilmName, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Original Name of the Film" } })
                                @Html.ValidationMessageFor(model => model.OriginalFilmName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OriginalFilmLang, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.OriginalFilmLang, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Original Language of the Film" } })
                                @Html.ValidationMessageFor(model => model.OriginalFilmLang, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FilmTypeId, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp1" value="Still PhotoGraphy" />
                                <label class="form-check-label" for="filmtyp1">
                                    Still PhotoGraphy
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp2" value="Corporate Video/Films" />
                                <label class="form-check-label" for="filmtyp2">
                                    Corporate Video/Films
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp3" value="Doordarshan Documentaries & education films" />
                                <label class="form-check-label" for="filmtyp3">
                                    Doordarshan Documentaries & education films
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp4" value="Nationalised/NFDC Film" />
                                <label class="form-check-label" for="filmtyp4">
                                    Nationalised/NFDC Film
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp5" value="Travelogue" />
                                <label class="form-check-label" for="filmtyp5">
                                    Travelogue
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp6" value="Music Video/Song/Film" />
                                <label class="form-check-label" for="filmtyp6">
                                    Music Video/Song/Film
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp7" value="Web Series" />
                                <label class="form-check-label" for="filmtyp7">
                                    Web Series
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp8" value="TV Serial" />
                                <label class="form-check-label" for="filmtyp8">
                                    TV Serial
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp9" value="Short Film" />
                                <label class="form-check-label" for="filmtyp9">
                                    Short Film
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp10" value="Commercial Film" />
                                <label class="form-check-label" for="filmtyp10">
                                    Commercial Film
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp11" value="Commercial Advertisement" />
                                <label class="form-check-label" for="filmtyp11">
                                    Commercial Advertisement
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="filmTypes" id="filmtyp12" value="Documentary" />
                                <label class="form-check-label" for="filmtyp12">
                                    Documentary
                                </label>
                            </div>
                            @Html.HiddenFor(model => model.FilmTypeId)
                            @Html.ValidationMessageFor(model => model.FilmTypeId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProdHAddr, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                            @Html.TextAreaFor(model => model.ProdHAddr, new { htmlAttributes = new { @class = "form-control form-conrol-sm", placeholder = "Name & Address of the Production House" } })
                            @Html.ValidationMessageFor(model => model.ProdHAddr, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FilmScriptId, htmlAttributes: new { @class = "control-label" }) <sup class="text-danger">*</sup>:
                            @Html.TextBoxFor(model => model.FilmScriptId, new { htmlAttributes = new { @class = "form-control form-conrol-sm", @type = "file" } })
                            @Html.ValidationMessageFor(model => model.FilmScriptId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-success btn-lg mr-1">Save</button>
                                <button type="reset" class="btn btn-info btn-lg ml-1 mr-1">Reset</button>
                                <button type="reset" class="btn btn-danger btn-lg ml-1 mr-1">Cancel</button>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</main>
<!-- Main Wrapper End -->
<!-- Footer  -->
<footer class="footer footer--bg pt-80"
        data-background="././assets/img/bg/footer-bg.jpg" data-overlay="black-oil"
        data-opacity="85">
    <div class="footer--top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-30">
                    <div class="textwidget custom-html-widget">
                        <div class="footer--widget">
                            <div class="footer--title">
                                <h4 class="white-color mb-30">CINI MITRA</h4>
                            </div>
                            <div class="footer--address">
                                <ul>
                                    <li><i class="fas fa-map-marked-alt"></i>Khanija bhavan, Bangalore</li>
                                    <!-- <li><i class="fas fa-envelope-open"></i>support@gmail.com</li>
                                       <li><i class="fas fa-phone"></i>+013 (456) 7899</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-30">
                    <div class="textwidget custom-html-widget">
                        <div class="footer--widget">
                            <div class="footer--title">
                                <h4 class="white-color mb-30">Quick Links</h4>
                            </div>
                            <div class="footer--menu">
                                <ul>
                                    <li><a href="#">Company History</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Latest News</a></li>
                                    <li><a href="#">Meet The Directors</a></li>
                                    <li><a href="#">Latest Movies</a></li>
                                    <li><a href="#">Album & Gallery</a></li>
                                    <li><a href="#">Global Brands</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="textwidget custom-html-widget">
                        <div class="footer--widget">
                            <div class="footer--title">
                                <h4 class="white-color mb-30">Follow Instagram</h4>
                            </div>
                            <div class="footer--insta">
                                <ul>
                                    <li>
                                        <img src="assets/img/12/insta-1.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <img src="assets/img/12/insta-2.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <img src="assets/img/12/insta-3.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <img src="assets/img/12/insta-4.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <img src="assets/img/12/insta-5.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <img src="assets/img/12/insta-6.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-30">
                    <div class="textwidget">
                        <div class="footer--title">
                            <h4 class="white-color mb-30">Newsletters</h4>
                        </div>
                        <div role="form" class="wpcf7" id="wpcf7-f166-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response">
                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                <ul></ul>
                            </div>
                            <form action="" method="post"
                                  class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                <div class="footer--newsletter">
                                    <p>Sed ut perspiciatis unde omnis natus error sit volupta</p>
                                    <div class="footer--input mb-30">
                                        <span class="wpcf7-form-control-wrap email">
                                            <input type="email" name="email"
                                                   value="" size="40"
                                                   class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                   aria-required="true" aria-invalid="false"
                                                   placeholder="Enter Your Email" />
                                        </span><input type="submit"
                                                      value="+" class="wpcf7-form-control wpcf7-submit" />
                                    </div>
                                    <div class="footer--social">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com/">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.twitter.com/">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.google.com/"><i class="fab fa-google"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="wpcf7-response-output" aria-hidden="true"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer--bottom footer--bottom--border">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="footer--copyright">
                            <p>Copy 2020. All Right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 d-none d-md-block">
                        <div class="footer--menu--two">
                            <div class="textwidget custom-html-widget">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About cini mitra</a></li>
                                    <li><a href="#">Departments</a></li>
                                    <li><a href="#">How to apply</a></li>
                                    <li><a href="#">Grievance</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer  End -->
<!-- Fullscreen search -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="main-search-input" name="s" placeholder="Search Your Keyword...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end fullscreen search -->
<!-- Scroll Top Button -->
<button class="scroll-top tran3s">
    <i class="fas fa-arrow-up"></i>
</button>
<script type='text/javascript' src='assets/js/popper.min.js'></script>
<script type='text/javascript' src='assets/js/bootstrap.min.js'></script>
<script type='text/javascript' src='assets/js/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' src='assets/js/isotope.pkgd.min.js'></script>
<script type='text/javascript' src='assets/js/jquery.meanmenu.min.js'></script>
<script type='text/javascript' src='assets/js/jquery.counterup.min.js'></script>
<script type='text/javascript' src='assets/js/jquery.waypoints.min.js'></script>
<script type='text/javascript' src='assets/js/jquery.magnific-popup.min.js'></script>
<script type='text/javascript' src='assets/js/owl.carousel.min.js'></script>
<script type='text/javascript' src='assets/js/tilt.jquery.js'></script>
<script type='text/javascript' src='assets/js/bootstrap-datepicker.min.js'></script>
<script type='text/javascript' src='assets/js/jquery.nice-select.min.js'></script>
<script type='text/javascript' src='assets/js/jquery.paroller.min.js'></script>
<script type='text/javascript' src='assets/js/aos.js'></script>
<script type='text/javascript' src='assets/js/slick.min.js'></script>
<script type='text/javascript' src='assets/js/wow.min.js'></script>
<script type='text/javascript' src='assets/js/plugins.js'></script>
<script type='text/javascript' src='assets/js/main.js'></script>
<script type='text/javascript' src='assets/js/position.min.js'></script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }*@

<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp1" value="Still PhotoGraphy" />
    <label class="form-check-label" for="filmtyp1">
        Still PhotoGraphy
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp2" value="Corporate Video/Films" />
    <label class="form-check-label" for="filmtyp2">
        Corporate Video/Films
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp3" value="Doordarshan Documentaries & education films" />
    <label class="form-check-label" for="filmtyp3">
        Doordarshan Documentaries & education films
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp4" value="Nationalised/NFDC Film" />
    <label class="form-check-label" for="filmtyp4">
        Nationalised/NFDC Film
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp5" value="Travelogue" />
    <label class="form-check-label" for="filmtyp5">
        Travelogue
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp6" value="Music Video/Song/Film" />
    <label class="form-check-label" for="filmtyp6">
        Music Video/Song/Film
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp7" value="Web Series" />
    <label class="form-check-label" for="filmtyp7">
        Web Series
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp8" value="TV Serial" />
    <label class="form-check-label" for="filmtyp8">
        TV Serial
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp9" value="Short Film" />
    <label class="form-check-label" for="filmtyp9">
        Short Film
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp10" value="Commercial Film" />
    <label class="form-check-label" for="filmtyp10">
        Commercial Film
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp11" value="Commercial Advertisement" />
    <label class="form-check-label" for="filmtyp11">
        Commercial Advertisement
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="FilmTypeId" id="filmtyp12" value="Documentary" />
    <label class="form-check-label" for="filmtyp12">
        Documentary
    </label>
</div>