﻿
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/img/logo/favicon.jpeg">
    <title>@ViewBag.Title &ndash; CINI MITRA  &#8211; Sree Kanteerava Studios Limited</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*
        <link rel='stylesheet' href='/assets/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='/assets/css/animate.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/custom-animation.css'
              type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/bootstrap-datepicker.css'
              type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/nice-select.css' type='text/css'
              media='all' />
        <link rel='stylesheet' href='assets/css/magnific-popup.css' type='text/css'
              media='all' />
        <link rel='stylesheet' href='assets/css/aos.css' type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/meanmenu.css' type='text/css' media='all' />
        <link rel='stylesheet' href='assets/css/owl.carousel.min.css' type='text/css'
              media='all' />
        <link rel='stylesheet' href='assets/css/slick.css' type='text/css' media='all' />
    *@
    <link rel='stylesheet' href='@Url.Content("~/assets/css/style.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/assets/css/responsive.css")' type='text/css'
          media='all' />
    <link rel='stylesheet' href='@Url.Content("~/style.css")' type='text/css' media='all' />
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.5.3'
          type='text/css' media='all' />
    <script type='text/javascript' src='@Url.Content("~/assets/js/jquery.js")'></script>
    <link href="@Url.Content("~/assets/css/fontawesome.min.css")" rel="stylesheet" />
    <style type="text/css">
        body {
            color: #333;
        }

        .form-control {
            max-width: 100% !important;
            height: 100% !important;
            border-color: #bbb;
            padding: 1rem;
        }


            .form-control:focus {
                outline: none;
                border-color: #aaa;
                outline: 0;
                box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
            }

        .form-check label.form-check-label {
            padding-left: 2rem !important;
        }

        ::-webkit-input-placeholder {
            color: #ddd !important;
        }

        .btn {
            padding: 1rem;
        }

        table.table thead th {
            text-transform: uppercase
        }

        #btnview {
            margin-top: 1.8em;
        }

        #btnsearch {
            margin-top: 1.8em;
        }

        h2.hdg {
            font-size: 3em;
            margin-bottom: 0
        }

        h3.hdg {
            font-size: 2em;
            margin-bottom: 0
        }
    </style>
</head>
<body class="nojs">
    <header class="header header--padding header--transparrent">
        <!-- Sidebar Menu Overlay -->
        <div class="offcanvas-overly"></div>
    </header>
    <!-- Header End -->
    <!-- Main Wrapper -->
    <main class="main-wrapper">
        <div data-elementor-type="wp-page" data-elementor-id="62" class="elementor elementor-62"
             data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="dbdsec">
                        <div class="dbdheader">
                            <h2 class="hdg text-uppercase">Dashboard</h2>
                            <hr />
                            <h5>SAKALA TIMELINE IS 15 DAY(S)</h5>
                        </div>    
                        <div class="dbdmain">
                            <section class="container-fluid analyticssec mt-5 mb-5">
                                <div class="row mt-1 mb-1">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="fromDate">From</label>
                                            <input type="date" class="form-control" id="fromDate" name="fromDate" placeholder="DD/MMM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="toDate">To</label>
                                            <input type="date" class="form-control" id="toDate" name="toDate" placeholder="DD/MMM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" id="btnsearch" class="btn btn-info btn-sm"><i class="fa fa-search ml-2"></i>Search</button>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-md-4">
                                        <div class="card clearfix py-5 px-2 shadow bg-info text-white">
                                            <div class="card-body">
                                                <div>
                                                    <span class="float-left"><img src="~/assets/icons/application-received.svg" width="50" height="50" class=" mr-2 mt-2" /></span>
                                                    <span id="counter1" class="float-right counter display-4 mb-0" data-to="158">158</span>
                                                </div>
                                                <h3 class="mt-0">Application Received</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card clearfix py-5 px-2 shadow bg-success text-white">
                                            <div class="card-body">
                                                <div>
                                                    <span class="float-left"><img src="~/assets/icons/application-approved.svg" width="50" height="50" class=" mr-2 mt-2" /></span>
                                                    <span id="counter2" class="float-right counter display-4 mb-0" data-to="140">140</span>
                                                </div>
                                                <h3 class="mt-0">Application Approved</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card clearfix py-5 px-2 shadow bg-danger text-white">
                                            <div class="card-body">
                                                <div>
                                                    <span class="float-left"><img src="~/assets/icons/application-rejected.svg" width="50" height="50" class=" mr-2 mt-2" /></span>
                                                    <span id="counter3" class="float-right counter display-4 mb-0" data-to="5">5</span>
                                                </div>
                                                <h3 class="mt-0">Application Rejected</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-5 mb-5">
                                    <div class="col-md-4">
                                        <div class="card clearfix py-5 px-2 shadow bg-info text-white">
                                            <div class="card-body">
                                                <div>
                                                    <span class="float-left"><img src="~/assets/icons/min-approval-time.svg" width="50" height="50" class=" mr-2 mt-2" /></span>
                                                    <span class="float-right"><span data-to="12" class="counter display-4 mb-0" id="counter4">12</span> Days</span>
                                                </div>
                                                <h3 class="mt-0">Minimum Approval Time</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card clearfix py-5 px-2 shadow bg-success text-white">
                                            <div class="card-body">
                                                <div>
                                                    <span class="float-left"><img src="~/assets/icons/max-approval-time.svg" width="50" height="50" class=" mr-2 mt-2" /></span>
                                                    <span class="float-right"><span data-to="15" class="counter display-4 mb-0" id="counter5">15</span> Days</span>
                                                </div>
                                                <h3 class="mt-0">Maximum Approval Time</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card clearfix py-5 px-2 shadow bg-warning text-white">
                                            <div class="card-body">
                                                <div>
                                                    <span class="float-left"><img src="~/assets/icons/application-processing.svg" width="50" height="50" class=" mr-2 mt-2" /></span>
                                                    <span class="float-right"><span data-to="8" id="counter6" class="counter display-4 mb-0">8</span></span>
                                                </div>
                                                <h3 class="mt-0">Application Processing</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="container-fluid tpvsec mt-5 mb-5">
                                <h3 class="hdg text-uppercase">Third Party Verification</h3>
                                <div class="row mt-1 mb-1">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="tpvDate">Date</label>
                                            <input type="date" class="form-control" id="tpvDate" name="tpvDate" placeholder="DD/MMM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="CAFNum">CAF No #:</label>
                                            <input type="text" class="form-control" id="CAFNum" name="CAFNum" placeholder="CAF Number" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" id="btnview" class="btn btn-info btn-sm">View</button>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="thead-dark text-uppercase">
                                                    <tr>
                                                        <th scope="col">CAF NO.</th>
                                                        <th scope="col">Application Details</th>
                                                        <th scope="col">Applied Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Payment Status</th>
                                                        <th scope="col">Approval Status</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <p>
                                                                Applicant Name : Kushal Hedge<br />
                                                                Location Name : Mandya
                                                            </p>
                                                        </td>
                                                        <td>09/04/2021</td>
                                                        <td>Completed</td>
                                                        <td>Paid</td>
                                                        <td>Approved</td>
                                                        <td>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-info btn-sm ml-1"><i class="fa fa-edit"></i></a>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-danger btn-sm mr-1 ml-1"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>
                                                            <p>
                                                                Applicant Name : Chiru Boppanna<br />
                                                                Location Name : Virajpet, Kodagu
                                                            </p>
                                                        </td>
                                                        <td>09/04/2021</td>
                                                        <td>Completed</td>
                                                        <td>Paid</td>
                                                        <td>Verifying</td>
                                                        <td>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-info btn-sm ml-1"><i class="fa fa-edit"></i></a>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-danger btn-sm mr-1 ml-1"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Wrapper End -->
    <!-- Footer  -->
    <!-- Footer  End -->
    <!-- Fullscreen search -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" name="s" placeholder="Search Your Keyword...">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end fullscreen search -->
    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
        <i class="fas fa-arrow-up"></i>
    </button>
    @*
        <script type='text/javascript' src='/assets/js/popper.min.js'></script>
        <script type='text/javascript' src='/assets/js/bootstrap.min.js'></script>
        <script type='text/javascript' src='assets/js/imagesloaded.pkgd.min.js'></script>
        <script type='text/javascript' src='assets/js/isotope.pkgd.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.meanmenu.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.counterup.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.waypoints.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.magnific-popup.min.js'></script>
        <script type='text/javascript' src='assets/js/owl.carousel.min.js'></script>
        <script type='text/javascript' src='assets/js/tilt.jquery.js'></script>
        <script type='text/javascript' src='assets/js/bootstrap-datepicker.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.nice-select.min.js'></script>
        <script type='text/javascript' src='assets/js/jquery.paroller.min.js'></script>
        <script type='text/javascript' src='assets/js/aos.js'></script>
        <script type='text/javascript' src='assets/js/slick.min.js'></script>
        <script type='text/javascript' src='assets/js/wow.min.js'></script>
        <script type='text/javascript' src='assets/js/plugins.js'></script>
        <script type='text/javascript' src='@Url.Content("~/assets/js/main.js")'></script>
        <script type='text/javascript' src='assets/js/position.min.js'></script>*@
    @section Scripts {
        @*@Scripts.Render("~/bundles/jqueryval")*@
        <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript' src='@Url.Content("~/assets/js/counter.js")'></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                });
                $('#counter1').countTo({
                    from: 0,
                    to: parseInt($('#counter1').data('to')),
                    speed: 1000,
                    refreshInterval: 50,
                    onComplete: function (value) {
                        // console.debug(this);
                    }
                });
                $('#counter2').countTo({
                    from: 0,
                    to: parseInt($('#counter2').data('to')),
                    speed: 1000,
                    refreshInterval: 50,
                    onComplete: function (value) {
                        // console.debug(this);
                    }
                });
                $('#counter3').countTo({
                    from: 0,
                    to: parseInt($('#counter3').data('to')),
                    speed: 1000,
                    refreshInterval: 50,
                    onComplete: function (value) {
                        // console.debug(this);
                    }
                });
                $('#counter4').countTo({
                    from: 0,
                    to: parseInt($('#counter4').data('to')),
                    speed: 1000,
                    refreshInterval: 50,
                    onComplete: function (value) {
                        // console.debug(this);
                    }
                });
                $('#counter5').countTo({
                    from: 0,
                    to: parseInt($('#counter5').data('to')),
                    speed: 1000,
                    refreshInterval: 50,
                    onComplete: function (value) {
                        // console.debug(this);
                    }
                });
                $('#counter5').countTo({
                    from: 0,
                    to: parseInt($('#counter5').data('to')),
                    speed: 1000,
                    refreshInterval: 50,
                    onComplete: function (value) {
                        // console.debug(this);
                    }
                });
                $('#counter6').countTo({
                    from: 0,
                    to: parseInt($('#counter6').data('to')),
                    speed: 1000,
                    refreshInterval: 50,
                    onComplete: function (value) {
                        // console.debug(this);
                    }
                });
            });
        </script>
    }
</body>
</html>