﻿<!DOCTYPE html>

<style>
    .lay {
        letter-spacing: 0em;
    }
</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@



    <div class="container-fluid">
        <div class="row pt-3 feature--bg">
            <div class="col-12">
                <div style="float:right;">
                    <h4 class="theme-color"><a href="login.html">LOGIN</a> &nbsp;&nbsp;<span style="color: #000;">/</span>&nbsp;&nbsp; <a href="registration.html">REGISTER</a></h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center">



            <div class="col-xl-5 col-lg-5 col-md-6 col-12">
                <div class="header--left d-flex align-items-center">
                    <div class="header--logo">
                        <a href="#" class="logos">
                            <img src="@Url.Content("~/assets/img/karnataka-logo1.jpg")" alt="logo">
                            <img src="@Url.Content("~/assets/img/logo/cini-mitra.jpeg")" alt="logo">
                            <div class="logo-text">
                                <h1 class="company-name">Cini mitra</h1>
                                <h5>Sree Kanteerava Studios Limited</h5>
                                <h5>Government Of Karnataka</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 d-flex justify-content-end align-items-center col-7">
                <div class="navbar--main">
                    <nav id="mobile-menu">
                        <ul class="menu-inline ">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="Home" class="lay" href="index.html">Home</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="About cini mitra" class="lay" href="#">About cini mitra</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="Departments" class="lay" href="#">Departments</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="How to apply" class="lay" href="how-to-apply.html">How to apply</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="Grievance" class="lay" href="#">Grievance</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="Dashboard" class="lay" href="dashboard.html">Dashboard</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="FAQ" class="lay" href="#">FAQ</a>
                            </li>

                        </ul>

                    </nav>
                </div>
            </div>



            <div class="col-12">
                <div class="mobile-menu mobile-menu-h4"></div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <!-- Footer  -->
    <footer class="footer footer--bg pt-80"
            data-background="././assets/img/bg/footer-bg.jpg" data-overlay="black-oil"
            data-opacity="85">
        <div class="footer--top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-30">
                        <div class="textwidget custom-html-widget">
                            <div class="footer--widget">
                                <div class="footer--title">
                                    <h4 class="white-color mb-30">CINI MITRA</h4>
                                </div>
                                <div class="footer--address">
                                    <ul>
                                        <li><i class="fas fa-map-marked-alt"></i>Khanija bhavan, Bangalore</li>
                                        <!-- <li><i class="fas fa-envelope-open"></i>support@gmail.com</li>
                                           <li><i class="fas fa-phone"></i>+013 (456) 7899</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-30">
                        <div class="textwidget custom-html-widget">
                            <div class="footer--widget">
                                <div class="footer--title">
                                    <h4 class="white-color mb-30">Quick Links</h4>
                                </div>
                                <div class="footer--menu">
                                    <ul>
                                        <li><a href="#">Company History</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a href="#">Latest News</a></li>
                                        <li><a href="#">Meet The Directors</a></li>
                                        <li><a href="#">Latest Movies</a></li>
                                        <li><a href="#">Album & Gallery</a></li>
                                        <li><a href="#">Global Brands</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="textwidget custom-html-widget">
                            <div class="footer--widget">
                                <div class="footer--title">
                                    <h4 class="white-color mb-30">Follow Instagram</h4>
                                </div>
                                <div class="footer--insta">
                                    <ul>
                                        <li>
                                            <img src="assets/img/12/insta-1.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-2.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-3.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-4.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-5.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <img src="assets/img/12/insta-6.jpg" alt=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-30">
                        <div class="textwidget">
                            <div class="footer--title">
                                <h4 class="white-color mb-30">Newsletters</h4>
                            </div>
                            <div role="form" class="wpcf7" id="wpcf7-f166-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response">
                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                    <ul></ul>
                                </div>
                                <form action="" method="post"
                                      class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                    <div class="footer--newsletter">
                                        <p>Sed ut perspiciatis unde omnis natus error sit volupta</p>
                                        <div class="footer--input mb-30">
                                            <span class="wpcf7-form-control-wrap email">
                                                <input type="email" name="email"
                                                       value="" size="40"
                                                       class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                       aria-required="true" aria-invalid="false"
                                                       placeholder="Enter Your Email" />
                                            </span><input type="submit"
                                                          value="+" class="wpcf7-form-control wpcf7-submit" />
                                        </div>
                                        <div class="footer--social">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.twitter.com/">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.google.com/"><i class="fab fa-google"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer--bottom footer--bottom--border">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="footer--copyright">
                                <p>Copyright &copy; @DateTime.Now.Year.ToString(). All Right Reserved.</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 d-none d-md-block">
                            <div class="footer--menu--two">
                                <div class="textwidget custom-html-widget">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About cini mitra</a></li>
                                        <li><a href="#">Departments</a></li>
                                        <li><a href="#">How to apply</a></li>
                                        <li><a href="#">Grievance</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer  End -->
    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
