body{
  font-family: 'Montserrat', sans-serif;
}
.over-height{
  height: 100vh;
      background: #1a597d;

}
.bg-top{
  background: #1a597d;
}
span.disb {
    display: block;
    font-size: 14px;
}
.fix-top {
    background-color: #ebebeb !important;
    min-height: 100px;
        padding: 20px;
}
.fix-top h6 {
    margin-bottom: 10px;
    display: block;
    color: #252e46;
    font-size: 18px;
    font-weight: 500;
}
.tab-content {
    padding: 20px;
}
.pl-20 {
    padding-left: 23px;
}
span.red {
    color: red;
}
.pl-20 button{
  margin-right: 10px
}
.browse{
      padding: 10px 16px;
    background: #c1c1c5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
}
.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
    display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
.open > .dropdown-menu { display: block; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-stacked > li + li {
    margin-top: 0px;
}
.nav-tabs > li > a {
    padding: 50px 100px 50px 100px !important;
    color: #AAAAAA;
    background-color: #E3F2FD;
    border: 0px;
    border-radius: 0px;
    margin: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #448AFF; 
    color: #FFFFFF;
    z-index: 99;
    transition: all 0.5s ease 0s;
}
.nav-tabs > li.active > a {
   color: #FFFFFF;
   background-color: #2962FF;
    box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
    z-index: 100;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
   color: #FFFFFF;
   background-color: #2962FF;   
   box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
   transition: all 0.5s ease 0s;
}

.btn-primary {
    background-color: #2962FF;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #0D47A1;
}
.radio {
    padding-left: 20px
}
.radio label {
    display: inline-block;
    padding-left: 5px;
    position: relative
}
.radio label::before {
    -o-transition: border .5s ease-in-out;
    -webkit-transition: border .5s ease-in-out;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(120, 130, 140, .13);
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: border .5s ease-in-out;
    width: 17px;
    outline: 0!important
}
.radio label::after {
    -moz-transition: -moz-transform .3s cubic-bezier(.8, -.33, .2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform .3s cubic-bezier(.8, -.33, .2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.8, -.33, .2, 1.33);
    background-color: #2b2b2b;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 7px;
    left: 5px;
    margin-left: -20px;
    position: absolute;
    top: 5px;
    transform: scale(0, 0);
    transition: transform .3s cubic-bezier(.8, -.33, .2, 1.33);
    width: 7px
}
.radio input[type=radio] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0!important
}
.radio input[type=radio]:disabled+label {
    opacity: .65
}
.radio input[type=radio]:focus+label::before {
    outline-offset: -2px;
    outline: -webkit-focus-ring-color auto 5px;
    outline: dotted thin
}
.radio input[type=radio]:checked+label::after {
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}
.radio input[type=radio]:disabled+label::before {
    cursor: not-allowed
}
.radio.radio-inline {
    margin-top: 0
}
.radio.radio-single label {
    height: 17px
}
.radio-primary input[type=radio]+label::after {
    background-color: #ab8ce4
}
.radio-primary input[type=radio]:checked+label::before {
    border-color: #ab8ce4
}
.radio-primary input[type=radio]:checked+label::after {
    background-color: #ab8ce4
}
.radio-danger input[type=radio]+label::after {
    background-color: #fb9678
}
.radio-danger input[type=radio]:checked+label::before {
    border-color: #fb9678
}
.radio-danger input[type=radio]:checked+label::after {
    background-color: #fb9678
}
.radio-info input[type=radio]+label::after {
    background-color: #03a9f3
}
.radio-info input[type=radio]:checked+label::before {
    border-color: #03a9f3
}
.radio-info input[type=radio]:checked+label::after {
    background-color: #03a9f3
}
.radio-warning input[type=radio]+label::after {
    background-color: #fec107
}
.radio-warning input[type=radio]:checked+label::before {
    border-color: #fec107
}
.radio-warning input[type=radio]:checked+label::after {
    background-color: #fec107
}
.radio-success input[type=radio]+label::after {
    background-color: #00c292
}
.radio-success input[type=radio]:checked+label::before {
    border-color: #00c292
}
.radio-success input[type=radio]:checked+label::after {
    background-color: #00c292
}
.radio-purple input[type=radio]+label::after {
    background-color: #9675ce
}
.radio-purple input[type=radio]:checked+label::before {
    border-color: #9675ce
}
.radio-purple input[type=radio]:checked+label::after {
    background-color: #9675ce
}
.radio-red input[type=radio]+label::after {
    background-color: #fb9678
}
.radio-red input[type=radio]:checked+label::before {
    border-color: #fb9678
}
.radio-red input[type=radio]:checked+label::after {
    background-color: #fb9678
}

.over-height .nav-link{
    color: #FFFFFF;
}