.tab_section {
    background-color: #f8f8f8;
    padding: 60px 0;
}
.downloadBtn {
    width: 20px;
 }

 .tab_section .table-bordered td {
    vertical-align: middle;
 }

 .tab_section .table-bordered td:first-child {
    vertical-align: middle;
 }
.tab_section.dashboard{
    padding: 60px 0;
}
.tab_section .tab-content {
    background-color: #fff;
    padding: 2rem;
}

.tab_section .tab-pane {
    background-color: #fff;
}

.tab_section .nav-tabs {
    border-bottom: 0;
}

.tab_section .nav-tabs li a img {
    width: 50px;
    float: left;
    margin-right: .5rem;
}
.tab_section .panel-body ol li,.tab_section .panel-body ul li{
    margin-bottom: 1rem;
    text-align: justify;
}
.tab_section .panel-body p{ 
    text-align: justify;
}
.tab_section .table-striped thead th {
    background-color: #e0ede7;
    border: 0;
    vertical-align: top;
}

.tab_section .table-striped td {
    border: 0;
    color: #4b4b4b;
}

.tab_section .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fffffe;
}

.tab_section .table-striped tbody tr:nth-of-type(even) {
    background-color: #f2f8f5;
}

.tab_section .pdfIcon {
    width: 24px;
    margin-right: 5px;
}
.tab_section .inspectionContent {
    margin-bottom: 3rem;
}
.tab_section .inspectionContent ol li{
    margin-bottom: 1rem;
    text-align:justify;
}
.tab_section .inspectionContent img {
    width: 100%;
    margin-bottom: 1rem;
        }

.tab_section .inspectionContent a {
    color: #be1a1c;
}
@media (min-width: 768px) {
    .tab_section .nav-tabs li {
        width: 25%;
        background-color: #e9eaeb;
        border-right: 1px solid #dadada;

    }
    .tab_section.faq .nav-tabs li {
        width: 20%; 

    }
    
    .tab_section.loginPage .nav-tabs li {
        width: 50%;  
    } 
    .tab_section.loginPage .welcomeMessage {
        margin-bottom: 3rem;
    } 
    .tab_section .nav-tabs li:last-child {
        border-right: 0;

    }
    

    .tab_section .nav-tabs li a {
        padding: 1rem .5rem;
        display: block;
        color: #4b4b4b;
        height:100%;
    }
    .tab_section.loginPage .nav-tabs li a, .tab_section.dashboard .nav-tabs li a{
        text-align: center;
    }

    .tab_section .nav-tabs li a:hover {
        text-decoration: none;
    }

    .tab_section .nav-tabs li.active {
       font-weight: bold;
    }
    .tab_section .nav-tabs li.active a{
        border-top: 3px solid #e1a93a;
        background-color: #fff;
    }


    .tab-content .tab-pane .panel-heading.tabpanel {
        display: none;
    }
    .tab-content label{
        margin-bottom:0;
    }

    .panel.panel-tabs {
        border: none;
        box-shadow: none;
    }

    .panel-tabs .panel .panel .panel-heading{ 
        border: 1px solid #f2f8f5; 
        background: #dfede6;
    }

    .panel-collapse.tab-collapse {
        height: auto;
    }

    .panel-collapse.tab-collapse.collapse {
        display: block;
    }
}

@media (max-width: 767px) {
    .tab_section.loginPage .welcomeMessage {
        margin-bottom: 1rem;
    } 
    .tab_section .tab-content {
background-color: #fff;
padding: .5rem;
}
.tab_section .panel-title a {
font-size: 1rem;
color:#4b4b4b;
display: block;
min-height: 50px;
border-bottom: 1px solid #f4f4f4;
}
.tab_section .panel-title a img{
width: 50px;
float: left;
margin-right: 5px;

}
    .tab-content .tab-pane {
        display: block;
    }

     .nav-tabs {
        display: none;
    }

    .tab-content .tab-pane .panel-title a {
        display: block;
    }

    .tab-content .tab-pane .panel {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        margin-top: -2px;
    }

    .tab-pane:first-child .panel {
        border-radius: 5px 5px 0 0;
    }

    .tab-pane:last-child .panel {
        border-radius: 0 0 5px 5px;
    }
}